* {
	font-family: Source Sans Pro;
}

body {
	border: 15px solid #bdc3c7;
	padding: 20px;
	width: 80%;
	margin: 20px auto;
	max-width: 700px;
}

h2 {
	font-size: 1.7em;
	/*margin-left: 2.5%;*/
	color: #2c3e50;
}

/*p {
	margin: 2.5%;
}*/

hr {
	color: rgba(189, 195, 199, .2);
	margin-bottom: 20px;

}

.date {
	text-transform: uppercase;
	color: #97bbe6;
	font-family: Source Code Pro;
	font-weight: 200;
	letter-spacing: 0.15rem;

}

.post {
	font-size: .97em;
	padding-left: 3px;
	border-left: 3px solid #bdc3c7;
}

.footer {
	font-size: .8em;
	font-family: Indie Flower;
	margin-left: 30%;
	margin-bottom: 1%;
}

.icon {
	/*float: left;*/
	margin-top:   0%;
	margin-left: 48%;
	width: 3%;
}
